<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Detail</title>
</head>
<body>
    <div class="top-0 left-0 w-full h-16 bg-gray-800 text-white flex items-center justify-between px-4 mr-4" >
        <div class="text-xl font-bold"># Free Palestine</div>
        <div class="text-sm text-xl">
            <div class="gap-5 flex justify-between">
               
              <a class="p-2 hover:bg-gray-700 rounded-lg hover:text-red-500 duration-300 ease-in-out cursor-pointer"
                    href="{% url 'app:map_list' %}">map</a>
                <a class="p-2 hover:bg-gray-700 rounded-lg hover:text-red-500 duration-300 ease-in-out cursor-pointer"
                    href="{% url 'app:map_form' %}">Add</a>
                <a class=" p-2 hover:bg-gray-700 rounded-lg hover:text-red-500 duration-300 ease-in-out cursor-pointer"
                    href="{% url 'app:home' %}">News</a>
                    <a class="p-2 hover:bg-gray-700 rounded-lg hover:text-red-500 duration-300 ease-in-out cursor-pointer"
                    href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </div>
    <h1>Map Detail</h1>
    <p>Latitude: {{ map_instance.lat }}</p>
    <p>Longitude: {{ map_instance.lon }}</p>
    <p>Date: {{ map_instance.date }}</p>
    <!-- Affichez d'autres détails de la carte ici -->
    <img src="{{ map_instance.photo.url }}" alt="Photo de la carte">
    <p>Description: {{ map_instance.description }}</p>
</body>
</html>
