<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Map List</title>
    <style>
        .custom-image-container {
            text-align: center;
        }

        .custom-image {
            text-align: center;
            max-width: 50%;
            max-height: 50%  ;
            /* Autres styles CSS au besoin */
        }
    </style>
    
</head>

<body class="p-8">
  
    <h1 class="text-3xl font-bold mb-4">Liste des Cartes</h1>

    <ul>
        {% for map in maps %}
        <li>
            <strong>photo:</strong> <img class="custom-image-container"
            class="custom-image"  src="{{ map.photo.url }}"
             alt="Photo de la carte"> 
                <strong>Latitude:</strong> {{ map.lat }},
                 <strong>Longitude:</strong> {{ map.lon }}, <strong>Date:</strong> {{ map.date }},<strong>Date:</strong> {{ map.description }}
        </li>
        {% empty %}
        <li>Aucune carte disponible.</li>
        {% endfor %}
    </ul>
</body>

</html>
